.menu-shop {
	width: 100%;
	height: 100%;
}

.menu-shop .menu-shop-header {
	display: flex;
	align-items: center;

	background-color: #263040;
	border-radius: 8px;

	padding: 15px;
	z-index: 100;

	position: sticky;

	top: 0;
	left: 0;

	width: calc(100% - 30px);
}
.menu-shop .menu-shop-header .menu-shop-header-balance {
	display: flex;
	align-items: center;

	margin-left: 30px;
}
.menu-shop .menu-shop-header .menu-shop-header-balance img {
	width: 30px;
	height: 30px;
}
.menu-shop .menu-shop-header .menu-shop-header-balance h1 {
	margin-left: 7px;
	font-size: 16px;
}
.menu-shop .menu-shop-header .btn {
	border: 0;
	background-color: #414c5c;

	padding: 10px 15px;
	font-size: 12px;
}
.menu-shop .menu-shop-header .btn:not(.btn-sel):hover {
	background-color: #5a687c;
}
.menu-shop .menu-shop-header .btn-sel {
	background-color: #2eb7cd;
}