@import '../../rules/variables.scss';

#admin {
    position: absolute;
    z-index: $zindex_modal;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 1300px;
    height: 800px;

    background: $theme_dark;
    border-radius: $borderRadius * 2;

    overflow: hidden;
    color: white;

    & header {
        display: flex;
        align-items: center;

        padding: $padding * 3 $padding * 5;
        background: $theme_darkLight;

        width: 100%;

        & .logo {
            & img {
                width: 64px;
                height: 64px;
            }
        }
        & .info {
            margin-left: $margin * 4;
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & .login {
                font-size: $fontsize + 1px;
                font-weight: 600;
            }
            & .adminRole {
                margin-top: $margin;
                max-width: 155px;

                display: block;
            }
            & .other {
                margin-top: $margin * 2;

                & span + span {
                    margin-top: $margin / 2;
                }
                & span {
                    display: block;

                    font-size: $fontsize - 3px;
                    opacity: .6;
                }
            }
        }
        & .nav {
            max-width: calc(100% - 64px - 210px);
            overflow: auto;

            margin-left: $margin * 4;
            padding-bottom: $padding;

            display: flex;
            align-items: center;
            gap: $margin * 2;

            & li {
                padding: $padding * 2 $padding * 3;
                padding-right: $padding * 8;

                border-radius: $borderRadius;

                cursor: pointer;
                transition: $transition;

                &, & span {
                    font-size: $fontsize + 2px;
                    line-height: $fontsize + 4px;
                }
                & span {
                    font-weight: 800;
                    display: block;
                }

                &.selected {
                    background: $theme_backgroundColor;
                }
            }
        }
    }

    & .body {
        padding: $padding * 4;

        width: 100%;
        height: calc(100% - 88px);
    }


    & .modal {
        position: fixed;
        z-index: $zindex_modal;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: #0000006c;

        display: flex;
        align-items: center;
        justify-content: center;

        & .modalWrapper {
            width: 50%;

            background-color: $theme_darkLight;
            border-radius: $borderRadius;

            position: relative;

            & .modalHeader {
                padding: $padding * 4;

                display: flex;
                align-items: center;
                justify-content: space-between;

                background: $theme_dark;

                & .modalTitle {
                    font-size: $fontsize + 2px;
                    font-weight: 600;
                }
                & .modalClose {
                    width: 30px;
                    height: 30px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: transparent;
                    border-radius: $borderRadius * 2;

                    transition: $transition;
                    &:hover {
                        background: $theme_backgroundColor;
                    }

                    & svg {
                        color: white;
                        font-size: $fontsize + 8px;
                    }
                }
            }
            & .modalBody {
                padding: $padding * 4;
                
                max-height: 630px;
                overflow: auto;

                position: relative;

                & .modalDialog {
                    position: absolute;
                    & div {
                        max-width: 80%;

                        background: $theme_background;
                        border-radius: $borderRadius;

                        padding: $padding * 3;

                        text-align: center;
                        line-height: $fontsize + 4px;

                        & section {
                            margin-top: $margin * 4;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: $margin * 2;

                            & .btn {
                                padding-right: $padding * 8;
                                padding-left: $padding * 8;

                                &:last-child {
                                    background: $theme_red;
                                    border-color: $theme_red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}