@import '../../../../rules/variables.scss';

.menu-shop-inventory {
	margin-top: 30px;

	display: flex;
	flex-wrap: wrap;
	gap: $padding * 2;
}

.menu-shop-inventory .menu-shop-inventory-elem {
	width: calc(100% / 5 - $padding * 1.6);
	height: 280px;

	background-color: #263040;
	border-radius: 5px;

	position: relative;

	display: flex;
	flex-direction: column;

	padding: $padding * 3;
}
.menu-shop-inventory .menu-shop-inventory-elem h1 {
	text-align: center;

	text-transform: uppercase;
	font-size: 15px;
}
.menu-shop-inventory .menu-shop-inventory-elem section {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}
.menu-shop-inventory .menu-shop-inventory-elem section img {
	width: 80%;
	height: auto;
}
.menu-shop-inventory .menu-shop-inventory-elem div:not(.donateCount) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	width: 100%;
}
.menu-shop-inventory .menu-shop-inventory-elem div button {
	width: 100%;

	border: 0;
	background-color: #414c5c;

	white-space: nowrap;

	&:last-child {
		background: $theme_backgroundColor;
	}
}
.menu-shop-inventory .menu-shop-inventory-elem div button + button {
	margin-top: 7px;
}
.menu-shop-inventory .menu-shop-inventory-elem div img {
	width: 20px;
	height: 20px;
}